body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'header section aside div'
                         'footer footer footer footer';
    grid-template-rows: 20vh 70vh 40vh;
}

nav{
    grid-area: navbar;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    font-family: 'Shadows Into Light', cursive;
    font-size: 16pt;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover{
    color: beige;
}

nav img{
    width: 30px;
    display: none;
}

header, section, aside, div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memesGretchen{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    max-width: 90%;
}

header{
    grid-area: header;
    background-color: red;
}

section{
    grid-area: section;
    background-color: yellow;
}

div{
    grid-area: div;
    background-color: gray;
}

aside{
    grid-area: aside;
    background-color: green;
}

footer{
    grid-area: footer;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer img{
    width: 30px;   
}

@media(max-width: 768px){

    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             'header header section section'
                             'aside aside div div'
                             'footer footer footer footer';
        grid-template-rows: 20vh 70vh 70vh 40vh;
        grid-gap: 10px;
    }

    nav a{
        display: none;
    }

    nav img{
        display: block;
    }
}
@media(max-width: 425px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             'header header header header'
                             'section section section section'
                             'aside aside aside aside'
                             'div div div div'
                             'footer footer footer footer';
        grid-template-rows: 20vh 70vh 70vh 70vh 70vh 40vh;
    }

}


